# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_BLE
  default y

config ZMK_USB
  default y


if SHIELD_E5C_PENDANT

config ZMK_KEYBOARD_NAME
    default "e5c pendant"

endif
